<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorator="main" >
<head>


  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>SB Admin 2 - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet" />

</head>

<div layout:fragment="content">


	<!-- Page Wrapper -->
	
	<div id="wrapper">


		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
			<!-- Begin Page Content -->
			<div class="container-fluid">

				<!-- Page Heading -->
				<div
					class="d-sm-flex align-items-center justify-content-between mb-4">
					<!-- 	<a href="#"
							class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
							class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
						-->
				</div>

				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">자가진단테스트</h6>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered" id="surveyTable" width="100%"
								cellspacing="0">
								<thead>
									<tr>
										<th>No</th>
										<th>Content</th>
										<th style="display: none">Category</th>
										<th>0점</th>
										<th>1점</th>
										<th>2점</th>
										<th>3점</th>
									</tr>
								</thead>
								<tbody id="surveyTable_tbody">
									<tr th:each="item : ${formList}">
										<td th:text="${item.id}"></td>
										<td th:text="${item.content}"></td>
										<td th:text="${item.category}" style="display: none"></td>
										<td><input type="radio" th:name="${item.id}" value="0" /><label
											for="default-radio"></label></td>
										<td><input type="radio" th:name="${item.id}" value="1" /><label
											for="default-radio"></label></td>
										<td><input type="radio" th:name="${item.id}" value="2" /><label
											for="default-radio"></label></td>
										<td><input type="radio" th:name="${item.id}" value="3" /><label
											for="default-radio"></label></td>
									</tr>
								</tbody>
							</table>
						</div>
					<a id="btn_submit" onclick="fn_onclick_btn_submit()"
						class="btn btn-success btn-icon-split"> <span
						class="icon text-white-50"></span> <span class="text">다음</span>
					</a>
					</div>
					
				</div>

				<!-- 
					<div class="switch-wrap d-flex justify-content-between">
						<c:forEach var = "item" items = "${formList}" varStatus = "status">
							
							<p> <c:out value = "${item.getContent()}"> </p>
							<div class="primary-Radio">
								<input type="radio" name = "1"  id=""> 0점 <label for="default-radio"></label>
								<input type="radio" name = "1"  id=""> 1점 <label for="default-radio"></label>
								<input type="radio" name = "1"  id=""> 2점 <label for="default-radio"></label>
								<input type="radio" name = "1"  id=""> 3점 <label for="default-radio"></label>
							</div>	
						</c:forEach>
 -->
			</div>
			<!-- End of Main Content -->

					</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready
					to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="login.html">Logout</a>
				</div>
			</div>
		</div>
	</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="vendor/chart.js/Chart.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="js/demo/chart-area-demo.js"></script>
	<script src="js/demo/chart-pie-demo.js"></script>

	<script type="text/javascript" th:inline="javascript">
		function fn_onclick_btn_submit() {
/*			var formStr  = /!*[[${formList}]]*!/;
			var formList = JSON.parse(formStr);*/

			var formList = /*[[${formList}]]*/;
			var isPassed = true;

			$(formList).each(function(index, form){
				/* if ( $('input:radio[name = '+ formList[i].id +']').is(":checked") == false) {
					alert(formList[i].id+ "번이 선택되지 않았습니다. ");
					isPassed = false;

					return;
				} */
				form.score = $('input:radio[name = '+ form.id +']:checked').val();
			});

			if (!isPassed) {
				return;
			}

			$.ajax({
		        type: "POST",
		        url: "submit",
		        data: JSON.stringify(formList),
		        contentType:'application/json; charset=UTF-8',
		        //dataType:"json",
		        success: function(data) {
		            console.log(" AJAX_SUCCESS ");
		            //location.href="/";
		        },
		        error : function(request, status, error){
		            console.log("AJAX_ERROR");
		            console.log("code = "+ request.status + " error = " + error); // 실패 시 처리
		        }
		    }); 
		    
		}
	
	</script>

</html>
