<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="main">

<th:block layout:fragment="content">
	<div id="wrapper">


		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
			<!-- Begin Page Content -->
			<div class="container-fluid">
				<div class="card shadow mb-4" id = "surveypage">
					<!-- <th:block th:if="${formList !=null}"> -->
					<div class="card-header py-3" >
						<h6 class="m-0 font-weight-bold text-primary">
							자가진단테스트<span th:text="${category_title}"></span>
						</h6>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered" id="surveyTable">
								<thead>
									<tr>
										<th class="text-center" rowspan="2">No</th>
										<th class="text-center" rowspan="2">평가기술</th>
										<th class="d-none" rowspan="2">Category</th>
										<th width="11%" class="text-center" id = "col1"></th>
										<th width="11%" class="text-center" id = "col2"></th>
										<th width="11%" class="text-center" id = "col3"></th>
										<th width="11%" class="text-center" id = "col4"></th>
										<th width="11%" class="text-center" id = "col5"></th>
									</tr>
								</thead>
								<tbody id="surveyTable_tbody">
									<tr th:each="item : ${formList}">
										<td class="text-center" th:text="${itemStat.count}"></td>
 										<td th:text="${item.content}"></td>
										<td th:text="${item.category}" style="display: none" ></td>
										<td>
											<label class="w-100 h-100 m-0 text-center">
												<input type="radio" th:name="${itemStat.count}" value="0" />
											</label>
										</td>
										<td>
											<label class="w-100 h-100 m-0 text-center">
												<input type="radio" th:name="${itemStat.count}" value="1" />
											</label>
										</td>
										<td>
											<label class="w-100 h-100 m-0 text-center">
												<input type="radio" th:name="${itemStat.count}" value="2" th:checked="true" />
											</label>
										</td>
										<td>
											<label class="w-100 h-100 m-0 text-center">
												<input type="radio" th:name="${itemStat.count}" value="3" />
											</label>
										</td>
										<td>
											<label class="w-100 h-100 m-0 text-center">
												<input type="radio" th:name="${itemStat.count}" value="4" />
											</label>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<a id = "btn_before" href="#" class="btn btn-success btn-icon-split" onclick="fn_onclick_btn_before()">
						 <span class="icon text-white-50"> <i class="fas fa-check"></i> </span> 
						 <span class="text">이 전</span>
						</a>
						<a href="#" class="btn btn-success btn-icon-split"
							onclick="fn_onclick_btn_submit()"> <span
							class="icon text-white-50"> <i class="fas fa-check"></i>
						</span> <span class="text">다 음</span>
						</a> 
						
					</div>
				</div>
				
			</div>
			<!-- End of Main Content -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>
</th:block>
<th:block layout:fragment="script">
	<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

	var pageCnt = 10;
	var pageNo  = 1; 
	var survey_result = []; 
	var index = 0; 
	var categoryList = {};
	
	/*
	* 화면 초최로드시 실행
	*/
	$(document).ready(function(){
    	console.log("page load"); 
    	categoryList  = [[${categoryList}]];
    	console.log(categoryList);
    	
    	fn_getSurveyList(categoryList[index].id, categoryList[index].title);
	});
	
	/*
	*  자가진단 리스트 조회 함수 
	*/
	function fn_getSurveyList(category_id, category_title) {
		
		var param = {
				"category_id" : category_id,
				"category_title" : category_title,
				"category_Totcnt" : categoryList.length,
				"category_num"  : index+1 }; 
		
		$.ajax({
	        type: "POST",
	        url: "surveyList",
	        data: JSON.stringify(param),  
	        contentType:'application/json; charset=UTF-8',
	        success: function(data) {
	            console.log("AJAX SUCCESS");
	            
	            // 통신 후 화면 매핑 
	            $("#surveypage").replaceWith(data);
	            if(categoryList[index].surveyTyp == "4"){
	            	document.getElementById("col1").innerHTML =  "아니다<br/>( 0 )";
	            	document.getElementById("col2").innerHTML =  "그저그렇다<br/>( 1 )";
	            	document.getElementById("col3").innerHTML=  "그렇다<br/>( 2 )";
	            	document.getElementById("col4").innerHTML=  "매우그렇다<br/>( 3 )";
	            	$('td:nth-child(8), th:nth-child(8)').hide();
	            	 
	            } else if (categoryList[index].surveyTyp == "5") {
	            	document.getElementById("col1").innerHTML =  "아니다<br/>( 0 )";
	            	document.getElementById("col2").innerHTML=  "그저그렇다<br/>( 1 )";
	            	document.getElementById("col3").innerHTML=  "보통이다<br/>( 2 )";
	            	document.getElementById("col4").innerHTML=  "그렇다<br/>( 3 )";
	            	document.getElementById("col5").innerHTML=  "매우그렇다<br/>( 4 )";
	            	$('td:nth-child(8), th:nth-child(8)').show();

	            }
	            
	    		if(index == 0 ){
	    			document.getElementById("btn_before").style.display = "none";
	    	   } else {
	    		   document.getElementById("btn_before").style.display = "hide";
	    	    	
	    	   }
	        },
	        error : function(request, status, error){
	            console.log("AJAX_ERROR");
	            console.log("code = "+ request.status + " error = " + error); // 실패 시 처리
	        }
	    });  
		
	};
	
	/*
	*  자가진단 결과저장 함수  
	*/
	function fn_submit_result() {
		console.log(survey_result);
		var param = { 
			"result" :JSON.stringify(survey_result)
		}; 
		
		
		$.ajax({
	        type: "POST",
	        url: "submit",
	        data: JSON.stringify(param),  
	        contentType:'application/json; charset=UTF-8',
	        success: function(data) {
	            console.log("AJAX SUCCESS");
				location.href = "/";	            
	        },
	        error : function(request, status, error){
	            console.log("AJAX_ERROR");
	            console.log("code = "+ request.status + " error = " + error); // 실패 시 처리
	        }
	    });  
	}
	
	/*
	*	이전버튼 클릭 이벤트 
 	*/
	function fn_onclick_btn_before() {
		console.log("btn before onclick !"); 
		
		console.log(survey_result);
		survey_result.pop();
		console.log(survey_result)
		
		index --; 
		
		fn_getSurveyList(categoryList[index].id, categoryList[index].title);
		
	}
	/*
	*  다음 버튼 클릭 이벤트 
	*/
	
	function fn_onclick_btn_submit() {
		console.log("btn onclick !"); 
		
		var length = $('#surveyTable tbody tr').length; 
		var score = 0; 
		var score_100 = 0;
		
		for ( var i = 0; i < length ; i++ ) {
			if($('input:radio[name ='+(i+1)+']').is(":checked") == false) {
				alert((i+1) + "번이 선택되지 않았습니다.");
				return; 
			}
			score += Number($('input:radio[name ='+(i+1)+']:checked').val());
		}
		
		score_100 = score/(length*(categoryList[index].surveyTyp-1))*100;
		survey_result.push({"id" : categoryList[index].id, "score" : score, "score_100": score_100});
		
		index++; 
		if(categoryList.length == index) {
        	fn_submit_result();
        } else {
  	    	fn_getSurveyList(categoryList[index].id, categoryList[index].title);
        }
		
	};


    /*]]>*/
	</script>
</th:block>
</html>
