<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="main">

<th:block layout:fragment="content">

<div style = "background-size: cover">
	<div class="container">

		<div >
			<div class="card-body p-0">
				<!-- Nested Row within Card Body -->
				<div class="row">

					<div class="col-lg">
						<div class="p-5">
							<div class="text-center">
								<h1 class="h4 text-gray-900 mb-4">개인정보수정</h1>
							</div>
							<form class="user">
								<div class="form-group">
									<input type="text" class="form-control form-control-user" id="ibx_name" placeholder="이름" th:value = "${userNm}" disabled = "true" />
								</div>
								<div class="form-group">
									<input type="email" class="form-control form-control-user" id="ibx_email" placeholder="Email 주소" th:value = "${userEmail}" />
								</div>
								<div class="form-group">
									<input type="email" class="form-control form-control-user" id="ibx_pwd" placeholder="현재 비밀번호" />
								</div>
								<div class="form-group row">
									<div class="col-sm-6 mb-3 mb-sm-0">
										<input type="password" class="form-control form-control-user" id="ibx_newPwd1" placeholder="새 비밀번호" />
									</div>
									<div class="col-sm-6">
										<input type="password" class="form-control form-control-user" id="ibx_newPwd2" placeholder="새 비밀번호 확인" />
									</div>
								</div>
								<a href="#" class="btn btn-primary btn-user btn-block" onclick = "fn_submit_onclick()">저	장</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 개인정보 수정 Modal !! 작동 안됨 -->
		<div class="modal fade" id="userProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">저장하시겠습니까?</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" type="button"
							data-dismiss="modal">아니요</button>
						<a class="btn btn-primary" href="#" onclick = "fn_submit_onclick()">네</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</th:block>
<th:block layout:fragment="script">

	<script type="text/javascript" th:inline="javascript">
		function fn_submit_onclick() {
			console.log("onclick event start"); 
			
			var pwd1 = document.getElementById("ibx_newPwd1").value; 
			var pwd2 = document.getElementById("ibx_newPwd2").value; 
			if(pwd1 != pwd2 ) {
				console.log(pwd1, pwd2);
				alert("비밀번호가 일치하지 않습니다.");
				return ;
			}
			
			var user = {"name":document.getElementById("ibx_name").value, 
				    "email":document.getElementById("ibx_email").value,
				    "pwd":document.getElementById("ibx_pwd").value,
				    "newPwd":document.getElementById("ibx_newPwd1").value}; 
			$.ajax({
		        type: "POST",
		        url: "profile/submit",
		        data: JSON.stringify(user),
		        contentType:'application/json; charset=UTF-8',
		        success: function(data) {
		            console.log(" AJAX_SUCCESS ");
		            location.href = "/";
		        },
		        error : function(request, status, error){
		            console.log("code = "+ request.status + " error = " + error); // 실패 시 처리
		        }
		    }); 
		};
	
	</script>
</th:block>

</html>
